@import url("style.css");
i.fa-heart {
	cursor: pointer;
}
i.fa-heart:hover {
	color: var(--second-main-color);
}
i.fa-heart.added {
	color: var(--second-main-color);
}
/* button.no-btn {
	border: none;
	background: none;
	color: var(--first-main-color);
}
button.no-btn.added {
	color: var(--second-main-color);
} */
.logo {
	margin-left: 0;
}
.no-scroll {
	overflow: hidden;
}
.photograph_header {
	background-color: var(--second-secondary-color);
	margin: 0 auto 1em;
	padding: 2em;
	width: 100%;
}
.photograph_header .intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.photograph_header h2 {
	color: var(--second-main-color);
	margin: 0;
	font-size: 64px;
}
.photograph_header p {
	margin: 1em 0;
	padding: 0;
	font-size: 18px;
}
.photograph_header p.location {
	color: var(--first-main-color);
	font-size: 24px;
}
.photograph_header p.price {
	color: var(--second-secondary-color);
}

.photograph_header .portrait img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.filter {
	margin: 1em 0;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.filter label {
	margin-right: 1em;
}
.filter select {
	background-color: var(--first-main-color);
	color: var(--first-secondary-color);
	border-radius: 0.25em;
	padding: 0.5em;
	margin: 0;
	width: 150px;
}
.filter option {
	background-color: var(--first-main-color);
	padding: 1em;
}
.photograph_medias {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 8em;
}
.photograph_medias .filter {
	display: block;
	margin: 1em 0;
}
.photograph_medias article {
	width: 350px;
	margin-bottom: 1em;
}
.photograph_medias img,
.photograph_medias video {
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius: 0.25em;
}
.title {
	float: left;
}
.title,
.likes {
	color: var(--first-main-color);
	font-size: 18px;
	margin: 0;
	padding: 0.5em 0;
}
.likes {
	float: right;
}
.contact_button {
	font-size: 18px;
	font-weight: bold;
	color: var(--first-secondary-color);
	padding: 1em 0.5em;
	text-align: center;
	background-color: var(--first-main-color);
	border-radius: 5px;
	cursor: pointer;
	width: 170px;
}
.contact_button:hover,
.contact_button:focus {
	background-color: var(--second-main-color);
}
button.contact_button {
	border: none;
	outline: none;
}
button.contact_button:hover {
	background-color: var(--first-main-color);
	color: var(--second-main-color);
}
.sum_likes {
	background-color: var(--second-main-color);
	position: fixed;
	right: 12%;
	bottom: 0;
	padding: 1em;
	width: 10%;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
#contactModal,
#lightbox {
	display: none;
	position: absolute;
	top: 0;
	background: #c4c4c466;
	width: 100%;
	height: 100%;
}
.carousel {
	width: 1050px;
	height: 800px;
	position: relative;
	margin: auto;
	background: white;
}
.carousel ul {
	display: flex;
	justify-content: center;
	padding: 0;
}
.carousel .btn {
	position: absolute;
	background: none;
	border: none;
	outline: none;
	font-size: 2em;
	color: var(--first-main-color);
	cursor: pointer;
	z-index: 2;
	top: 50%;
}
.carousel #prev {
	left: 1em;
}
.carousel #next {
	right: 1em;
}
.carousel #close {
	top: 1em;
	right: 1em;
}
.carousel .slide {
	position: absolute;
	opacity: 0;
	transition: 0.8s ease-in-out;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em 0;
}
.carousel .slide.active {
	opacity: 1;
}
.carousel .slide img,
.carousel .slide video {
	display: block;
	max-width: 800px;
	max-height: 700px;
	object-fit: contain;
}
.contact {
	width: 100%;
	height: 100%;
}
.modal {
	border-radius: 5px;
	background-color: var(--second-main-color);
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 3em;
	margin: 2em auto;
	box-shadow: -5px 10px 30px 0px #00000040;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 50px;
	font-weight: normal;
	margin: 0;
	padding-top: 1.5em;
}
button.btn_close {
	background: none;
	border: none;
	outline: none;
	font-size: 45px;
	padding: 0;
	width: auto;
}
button.btn_close:hover {
	background: none;
	border: none;
	outline: none;
	color: var(--first-main-color);
}
button[type="submit"]:hover,
button[type="submit"]:focus {
	background: var(--first-main-color);
	color: var(--second-main-color);
}
form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding: 5em 0 2em 0;
}

form label {
	color: #312e2e;
	font-size: 30px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}
form textarea {
	width: 100%;
	height: 150px;
	border-radius: 5px;
}
