/** Colours **/
* {
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
}
:root {
	--first-main-color: #901c1c;
	--second-main-color: #d3573c;
	--first-secondary-color: #fff;
	--second-secondary-color: #fafafa;
	--third-secondary-color: #525252;
}

body {
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}
header,
main,
footer {
	max-width: 1240px;
	width: 100%;
	margin: auto;
}

h1,
h2 {
	font-size: 36px;
}
ul,
li {
	list-style: none;
}
select {
	border: none;
	outline: none;
}
.logo {
	height: 50px;
}
.portrait {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
}
